:focus,
:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-blue-300);
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-blue-200);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color-blue-400);
  font-size: var(--font-size-200);
  font-family: Assistant, sans-serif;
  font-style: normal;
  line-height: 1.5;
  text-rendering: optimizespeed;
  background-color: var(--color-white);
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
select {
  color: inherit;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
