/* input */

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input__heading {
  font-size: var(--font-size-100);
  line-height: 1;
}

.input input {
  min-width: 160px;
  min-height: 45px;
  padding: 10px 15px;
  font-size: var(--font-size-300);
  background-color: var(--color-blue-100);
  border: none;
  border-radius: 1px;
  cursor: pointer;
  appearance: none;
}

.input input::placeholder {
  color: var(--color-blue-400);
  opacity: 0.4;
}

.trips-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 180px;
  padding: 20px;
  background-color: var(--color-blue-400);
}

.trips-filter__form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 25px;
  width: 100%;
  max-width: var(--container-width);
}

.trips-filter__search {
  width: 100%;
  max-width: 350px;
}

.trips-filter__search input {
  padding-left: 50px;
  background-color: var(--color-white);
  background-image: url("./img/search.svg");
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-size: 22px;
}

.trips {
  padding: 60px 20px;
}

.trip-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, auto));
  justify-content: center;
  gap: 30px;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.trip-card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  background-color: var(--color-white);
  border-radius: 1px;
  box-shadow: var(--shadow);
}

.trip-card img {
  height: 100%;
}

.trip-card__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 30px;
}
